.nav__link
  color: white
  text-decoration: none
  padding: 16px
  display: block
  transition: color 200ms ease, background-color 200ms ease

.nav__link:hover
  background-color: white
  color: black