<section class="main-crew">
  <h2 class="main-crew__title">About Us</h2>
  <h3 class="main-crew__subheader">LEADER TEAM</h3>
  <div class="main-crew__cards">
    @for (member of members; track member.name) {
    <app-main-crew-card
      name="{{ member.name }}"
      roleDescription="{{ member.role.description }}"
      phrase="{{ member.phrase }}"
      image="{{ member.image }}"
      gender="{{ member.gender }}"
      githubUrl="{{ member.githubUrl }}"
      linkedInUrl="{{ member.linkedInUrl }}"
      twitterUrl="{{ member.twitterUrl }}"
    ></app-main-crew-card>
    }
  </div>
</section>
