.main-crew
  margin-top: var(--nav-height)
  padding: 40px 20px

.main-crew__title
  text-align: center
  font-weight: 500

.main-crew__member-name
  text-align: center
  font-size: 36px
  margin-top: 10px

.main-crew__cards
  display: flex
  background-color: green
  justify-content: space-evenly
  gap: 30px
  margin-top: 30px

app-main-crew-card
  width: 100%