.main-crew
  margin-top: var(--nav-height)
  padding: 40px 20px

.main-crew__title
  text-align: center
  font-weight: 500

.main-crew__subheader
  text-align: center
  font-size: 36px
  margin-top: 10px

.main-crew__cards
  justify-content: space-evenly
  gap: 30px
  margin-top: 26px

app-main-crew-card
  width: 100%

@media screen and (min-width: 800px)
  .main-crew__cards
    display: flex