.hero
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.hero__logo-container
  width: 100%
  max-width: 300px
  margin: 0 auto
  text-align: center
  background-color: green

.hero__logo-image
  width: 100%

.hero__slogan-text
  font-style: italic
  max-width: 400px
  margin-top: 26px
  line-height: 1.6

.hero__slogan-company-name
  font-style: normal