<div class="hero">
  <div class="hero__overlay">
    <div class="hero__logo-with-slogan">
      <div class="hero__logo-container">
        <img
          class="hero__logo-image"
          src="../../../../assets/images/logo-placeholder.png"
          alt="logo"
        />
      </div>
      <div class="hero__slogan-container">
        <p class="hero__slogan-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra
          hendrerit tristique. Vestibulum vestibulum commodo mauris at
          elementum. et.

          <br />

          <strong class="hero__slogan-company-name">MY COMPANY</strong>
        </p>
      </div>
    </div>
  </div>
  <button class="hide-hero-button">
    <img
      src="../../../../assets/icons/arrow-down-long-solid.svg"
      alt="hide-hero"
    />
  </button>
</div>
