<div
  class="main-crew__card"
  [style.background-image]="'url(' + profilePicture + ')'"
>
  <div class="main-crew__card-contents">
    <div class="main-crew__card-data">
      <p class="main-crew__card-role-description">{{ roleDescription }}</p>
      <h4 class="main-crew__card-name">{{ name }}</h4>
      <p class="main-crew__card-phrase">&quot;{{ phrase }}&quot;</p>
      <div class="main-crew__card-social-networks">
        @for (socialNetwork of getSocialNetworks(); track socialNetwork.url) {
        <a
          href="{{ socialNetwork.url }}"
          class="main-crew__social-network-wrapper"
        >
          <img
            class="main-crew__social-network-image"
            src="{{ socialNetwork.imageSrc }}"
            alt="{{ socialNetwork.imageAlt }}"
          />
        </a>
        }
      </div>
    </div>
  </div>
  <div
    class="main-crew__card-overlay"
    [style.background-image]="getOverlayImage()"
  ></div>
</div>
