.main-crew__card
  background-color: red
  height: 400px
  position: relative
  cursor: pointer
  transition: transform 200ms ease
  background-size: cover
  text-align: center

.main-crew__card-overlay
  width: 100%
  height: 100%
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

.main-crew__card:hover
  transform: translateY(-20px)

.main-crew__card-data
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)

.main-crew__card-name
  font-size: 28px

.main-crew__card-phrase
  font-style: italic