.main-crew__card
  background-color: red
  height: 400px
  position: relative

.main-crew__card-data
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)

.main-crew__card-name
  font-size: 28px