.biographies
  width: 70%
  margin: 0 auto
  display: flex
  flex-direction: column
  gap: 30px

.biographies__biography
  height: 550px
  display: flex
  justify-content: center
  gap: 30px
  padding: 16px

.biographies__biography-image
  height: 100%
  width: 340px
  object-fit: cover

.biographies__biography-name
  font-size: 30px

.biographies__biography-role
  margin-top: 4px

.biographies__biography-text
  margin-top: 12px

.biographies__biography.invert
  flex-direction: row-reverse

.biographies__biography.invert .biographies__biography-name,
.biographies__biography.invert .biographies__biography-role
  text-align: right
