.biographies
  width: 100%
  margin: 0 auto
  display: flex
  flex-direction: column

.biographies__biography
  justify-content: center
  gap: 30px
  padding: 16px

.biographies__biography-image
  height: 100%
  width: 340px
  object-fit: cover

.biographies__biography-name
  font-size: 30px

.biographies__biography-role
  margin-top: 4px

.biographies__biography-text
  margin-top: 12px

@media screen and (min-width: 800px) 
  .biographies
    width: 70%
    gap: 30px

  .biographies__biography
    display: flex
    height: 550px

  .biographies__biography.invert
    flex-direction: row-reverse

  .biographies__biography.invert .biographies__biography-name,
  .biographies__biography.invert .biographies__biography-role,
  .biographies__biography.invert .biographies__biography-text
    text-align: right

