<section class="biographies">
  <div class="biographies__all"></div>
  @for (member of members; track member.name; ; let index = $index ) {
  <div class="biographies__biography" [class.invert]="index % 2 !== 0">
    <div class="biographies__biography-image-wrapper">
      <img
        class="biographies__biography-image"
        src="{{ member.image }}"
        alt="{{ member.name }}-bio-image"
      />
    </div>
    <div class="biographies__biography-data">
      <h2 class="biographies__biography-name">
        {{ member.name.toUpperCase() }}
      </h2>
      <h3 class="biographies__biography-role">{{ member.role.nameLong }}</h3>
      <div class="biographies__biography-text">
        @for (paragraph of member.biography!.split('\n'); track paragraph) {
        <p class="biographies__biography-paragraph">{{ paragraph }}</p>
        <br />
        }
      </div>
    </div>
  </div>
  }
</section>
