.biographies
  margin: 0 auto
  display: flex
  flex-direction: column
  overflow: hidden

.biographies__biography
  margin: 0 auto

.biographies__biography-image-wrapper
  text-align: center
  height: 550px
  min-width: 300px
  width: 300px
  margin: 0 auto

.biographies__biography-image
  width: 100%
  height: 100%
  object-fit: cover

.biographies__biography-data
  padding: 0 16px

.biographies__biography-name
  font-size: 30px
  margin-top: 10px

.biographies__biography-role
  margin-top: 4px

.biographies__biography-text
  margin-top: 12px

@media screen and (min-width: 800px) 
  .biographies
    gap: 30px

  .biographies__biography
    display: flex
    justify-content: center
    gap: 30px
    max-width: 1000px
    padding: 0 16px

  .biographies__biography.invert
    flex-direction: row-reverse

  .biographies__biography-name
    margin-top: 0

