<nav class="nav">
  <ul class="nav__links" [class.active]="visibleLinks">
    <div class="nav__links-close-button-container">
      <button (click)="setLinksVisible(false)" class="nav__close-button">
        <img src="../../../assets/icons/xmark-solid.svg" alt="close" />
      </button>
    </div>
    @for (route of routes; track route.href) {
    <app-nav-link text="{{ route.name }}"></app-nav-link>
    }
  </ul>
  <app-nav-logo></app-nav-logo>
  <app-hamburguer-button
    (click)="setLinksVisible(true)"
  ></app-hamburguer-button>
</nav>
