.nav
  background-color: black
  height: 80px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 20px

.nav__links 
  position: absolute

.nav__logo-placeholder
  width: 20px
  height: 20px
  background-color: green

.nav__logo-container
  width: 100px

.nav__logo-image
  width: 100%