<nav class="nav">
  <ul class="nav__links" [class.active]="visibleLinks">
    <div class="nav__links-close-button-container">
      <button (click)="setLinksVisible(false)" class="nav__close-button">
        <img src="../../../assets/icons/xmark-solid.svg" alt="close" />
      </button>
    </div>
    <app-nav-link text="ABOUT US"></app-nav-link>
    <app-nav-link text="SERVICES"></app-nav-link>
    <app-nav-link text="HALY-TECH"></app-nav-link>
    <app-nav-link text="CLIENTS"></app-nav-link>
    <app-nav-link text="CAREERS"></app-nav-link>
    <app-nav-link text="CONTACT"></app-nav-link>
  </ul>
  <app-nav-logo></app-nav-logo>
  <app-hamburguer-button
    (click)="setLinksVisible(true)"
  ></app-hamburguer-button>
</nav>
